#body,.ul{
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    background-color: black;
    color: #5e42a6;
    background-image: url(img/orca-pod.jpg);
    background-position: cover;
}

#l1 {
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
}
#l2 {
    font-family: 'Shadows Into Light', cursive;
   color: purple;
} 

#l3 {
    font-family: 'Lobster', cursive;
    color: #91ee3f;
}

.ul {
    text-align: center;
}

a {
    color: orange;
}
a:hover {
    background-color: black;
    color: orange;
}